#main_header {
    z-index: 99;
    position: relative;
    display: block;
}
.navclass{
    color:white;
    font-size: 12px; 
    font-weight:bold;
    
}
.navclass:hover{
    color: orangered;
}
.justify-content-center{
    background-color: #283747;
    margin-bottom: 0;
    position: -webkit-sticky;
position: sticky;
top: 0;
}

/* -----------Logos--------------------- */
.logo{
    color: red;
    text-align: center;

}

/* -------------------second Navigation----------------- */

.secondnav{
    margin-left:20px ;
    font-size: 16px;
    color: black !important;
}
.secondnav:hover{
    color: orangered !important;
}