.container-fluid {
    z-index: 1;
    position: sticky;
    top: 0;
    width: 100%;
    box-shadow: 0 0 20px black;
    background-color: white;
    padding: 0;
}
.navclass{
    color:white;
    font-size: 12px; 
    font-weight:bold;
    
}
.navclass:hover{
    color: orangered;
}
.justify-content-center{
    background-color: #283747;
    margin-bottom: 0;
    width: 100%;
}

/* -----------Logos--------------------- */
.logo{
    color: #283747;
    text-align: center;
    margin: 0;
    

}
.sub-heading{
    text-align: center;
    margin-top: 0;
    font-size: 23px;
}

/* -------------------second Navigation----------------- */

.secondnav{
    margin-left:20px ;
    font-size: 16px;
    color: black !important;
}
.secondnav:hover{
    color: orangered !important;
}