.container-fluid {
    z-index: 1;
    position: sticky;
    top: 0;
    width: 100%;
    box-shadow: 0 0 20px black;
    background-color: white;
    padding: 0;
}
.navclass{
    color:white;
    font-size: 12px; 
    font-weight:bold;
    
}
.navclass:hover{
    color: orangered;
}
.justify-content-center{
    background-color: #283747;
    margin-bottom: 0;
    width: 100%;
}

/* -----------Logos--------------------- */
.logo{
    color: rgb(161, 13, 13);
    text-align: center;
    margin: 0;
    font-size: 50px;
}
.main-logo{
    height: 120px;
    float: left;
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6{
    margin-bottom: .5rem;
    font-weight: 700;
    line-height: 1;
}
.sub-heading{
    text-align: center;
    font-size: 29px;
    
}
.sub-heading1{
    text-align: center;
    font-size: 11px;
}
.sub-heading2{
    text-align: center;
    font-size:10px ;
    margin-left: 117px;
}

/* -------------------second Navigation----------------- */

.secondnav{
    margin-left:20px ;
    font-size: 16px;
    color: black !important;
}
.secondnav:hover{
    color: orangered !important;
}