.college-details{
    display: flex;
    /* margin: 3rem; */

}
.content{
    margin: 50px auto auto;
    width: 100%;
    display: flex;
    border: none;
}
.content a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.content-header{
    background-color: #283747;
    color: white;
}
marquee{
    overflow: hidden;
    background-color: #283747;
    color: white;
    padding: 5px;
    text-align: justify;
}
marquee:hover{
    color: orangered;
}