.list {
    
    background-color:#283747;
    border-radius: 5px;
    margin: 25px;
    border: 2px solid black;
}

.examin {
    border-radius: 5px;
    color: black;
    font-weight: bolder;
    /* width: fit-content; */
    width: 300px;
    margin: 8px;
    float: left;
    border: 1px solid black;
}

.element {
    background: #283747;
    
}

.element a {
    color:  white;
}

.element a:hover {
    text-decoration: none;
    color:orangered;
}

.heading-cell{
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 5px;
}

.studentpdf {
    border: 1px solid black;
    width: 800px;
    /* float: right; */
    border-radius: 10px;
    margin-right: 50px;
    
}

.studentreg {
    /* padding: 10px; */
    background-color: darkgray;
    color: white;
    font-weight: bolder;
}