.main-footer {
    color: white;
    background-color: #283747;
    padding-top: 3em;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  .footer-head{
      margin-bottom: 20px;
      background-color: #283747;
      
  }
  .main-footer a{
      display: block;
      color: gray;
  }
  .col a:hover{
      color: orangered;
      text-decoration: none;
  }
  .col-sm{
      text-align: center;
  }
  .info a{
      font-size: 15px;
  }