.main-footer {
    color: white;
    background-color: rgb(160, 15, 15);
    padding-top: 3em;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  h4{
      margin-bottom: 20px;
  }
  .main-footer a{
      display: block;
  }
  .list-unstyled a:hover{
      color: black;
      text-decoration: none;
  }