.sidebar {
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 9px black;
  background-color: #283747;
  padding: 15px;
  width: 300px;
  margin: 10px;
  float: right;
  margin-bottom: 30px;
  
}
.section{
  display: inline-block;
}

.anchor:hover {
  background-color: #283747;
  color: white;
  color: orangered;
}
